*{
    text-decoration: none;
}
a{
    color: white;
}
body{
    font-family: 'Roboto', monospace;
    color: rgb(248, 242, 242);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
}
header span{
    color: #e8505b;
}
.btnMobile{
    font-size: 30px;
    background-color: transparent;
    margin: 3vh;
    float: right;   
    border: 1px solid white;
    display: none;

}


.btn{
    width: 5vw;
    height: 5vh;
    border-radius: 15px;
    margin: 0 5px;
    color: white;
    text-transform: uppercase;
    margin-top: 2.5vh;
    border: 1px solid rgb(201, 198, 198);
    background: rgba(255, 255, 255, 0.274);
    
}
.btn Link{
    color: black;
}
.btn:hover{
    border: 1px solid black;
    box-shadow: 5px 5px rgba(15, 15, 15, 0.274);
    background-color: #e8505b; 
}

#btnRegister{
    width: 12vw;
    background: #e8505b;
}


@media (max-width: 767px){
    nav{
        display: none;
    }
    .btnMobile{
        display: block;
    }
  
}


