.LogIn{
    
    width: 80%;
    height: 100vh;
    margin: 10vh auto;
   
    
}
.LogIn h1{
    font-size: 3rem;
    margin: 0;
}
.LogIn p{
    margin-bottom: 4rem;
}

.label{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10 auto;
}

.Form-Field{
    width: 80%;
    height: 3vh;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    border: none;
    color: white;
    transition: all .2s linear;
    font-size: 1.5rem;
}

.Form-Field:focus{
    outline: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}

.Form-Error{
    color: rgb(160, 8, 8);
    display: block;
}

.Form-Btn{
    background: #d43842;
    color: white;
    width: 20vw;
    height: 10vh;
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.Form-Btn:hover{
    cursor: pointer;
}

@media (max-width: 425px){
    .Form-Btn{
        width: 50%;
    }
}